@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand';
  background-color: #15141b;
  color: #fafafa;
}

.categories::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #2d2c35;
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.sidebar__close {
  animation: sidebarClose .3s ease-in-out;
  transition: width 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes sidebarClose {
  0% {
    width: 240px;
  } 100% {
    width: 80px;
  }
}

.sidebar__open {
  animation: sidebarOpen .3s ease-in-out;
  transition: width 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes sidebarOpen {
  0% {
    width: 80px;
  } 100% {
    width: 240px;
  }
}

.showText {
  animation: showText .3s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes showText {
  0% {
    display: hidden;
  } 100% {
    display: inline;
  }
}

.hiddeText {
  animation: hiddeText .3s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes hiddeText {
  0% {
    display: inline;
  } 100% {
    display: hidden;
  }
}

.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}